<div class="container">
  <h1 class="text-center"> This is a blog about software </h1>
  <h2 class="text-center"> Blog </h2>
  <div class="flex flex-col flex-no-wrap justify-center">
    <%= for post <- @post_list do %>
      <a class="text-center text-xl font-semibold"
          href="<%= blog_path(@conn, :show, post.slug) %>">
          <%= post.title %>
      </a>
    <% end %>
  </div>
</div>
