<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Maxims">
    <meta name="author" content="Thomas Depierre">

    <title>Software Maxims</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container w-9/10 mx-auto">
      <header class="header">
        <nav class="flex items-center justify-between flex-wrap bg-red-darker p-6">
          <div class="logo" title="SNAFU image"></div>
          <ul class="list-reset flex">
            <li class="mr-6">
              <a class="block mt-4 text-pink-lighter hover:text-white mr-4 no-underline" href="<%= page_path(@conn, :index) %>">Software Maxims</a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
