<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Maxims">
    <meta name="author" content="Thomas Depierre">

    <title>Software Maxims</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= if @view_module == SoftwaremaximsWeb.BlogView do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/blog_post.css") %>">
    <% end %>
  </head>

  <body class="bg-dark-colour">
    <div class="container mx-auto">
      <header class="header">
        <nav class="container">
          <div class="flex items-center justify-center flex-wrap p-6 bg-main-colour">
            <a class="text-dark-colour text-3xl font-bold hover:text-dark-accent no-underline" href="<%= page_path(@conn, :index) %>">
              Software Maxims
            </a>
          </div>
          <ul class="list-reset flex items-center justify-center flex-wrap border-b-2 border-light-accent">
            <li class="p-4">
              <a class="primary-link text-lg font-bold" href="<%= page_path(@conn, :index) %>">
                Blog
              </a>
            </li>
            <li class="p-4">
              <a class="primary-link text-lg font-bold" href="https://dianaolympos.github.io/">
                Resume
              </a>
            </li>
            <li class="p-4 text-light-colour">
              Talks
            </li>
            <li class="p-4 text-light-colour">
              About
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
  <footer class="container main-footer">
    <p class="footer-text">If you have any comment or want to contact me, please use one of these.</p>
    <ul class="footer-list">
      <li class="footer-element"><a class="footer-link" href="https://twitter.com/Di4naO">Twitter</a></li>
      <li class="footer-element"><a class="footer-link" href="https://github.com/DianaOlympos">GitHub</a></li>
      <li class="footer-element"><a class="footer-link" href="mailto:depierre.thomas+softwaremaxims@gmail.com">Mail</a></li>
    </ul>
  </footer>
</html>
