<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Software Maxims" />
    <meta name="author" content="Thomas Depierre" />

    <link rel="icon" href="/favicon.ico" />
    <title>Software Maxims</title>
    <link rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <%= if Map.get(@conn.assigns, :add_blog_style, false) do %>
      <link rel="stylesheet"
        href="<%= Routes.static_path(@conn, "/css/blog_post.css") %>" />
    <% end %>
  </head>

  <body class="bg-dark-colour">
    <div class="container mx-auto">
      <header class="header">
        <nav class="container">
          <div class="header-title">
            <a class="header-title-link"
              href="<%= Routes.page_path(@conn, :index) %>">
              Software Maxims
            </a>
          </div>
          <ul class="navbar">
            <li class="navbar-container">
              <a class="primary-link navbar-link"
                href="<%= Routes.page_path(@conn, :index) %>">
                Blog
              </a>
            </li>
            <li class="navbar-container">
              <a class="primary-link navbar-link"
                href="<%= Routes.consulting_path(@conn, :index) %>">
                Consulting
              </a>
            </li>
            <li class="navbar-container navbar-placeholder">
              Talks
            </li>
            <li class="navbar-container">
              <a class="primary-link navbar-link"
                href="<%= Routes.about_path(@conn, :index) %>">
                About
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"> </script>
  </body>
  <footer class="container main-footer">
    <p class="footer-text">If you have any comment or want to contact me, please use one of these.</p>
    <ul class="footer-list">
      <li class="footer-element"><a class="footer-link" href="https://twitter.com/Di4naO">Twitter</a></li>
      <li class="footer-element"><a class="footer-link" href="https://github.com/DianaOlympos">GitHub</a></li>
      <li class="footer-element"><a class="footer-link" href="mailto:depierre.thomas+softwaremaxims@gmail.com">Mail</a></li>
    </ul>
  </footer>
</html>
