/* This file is for your main application css. */

@tailwind preflight;

@tailwind components;
@tailwind utilities;

.logo {
  background-image: url('../images/logo.jpg');
  width: 100px;
  height: 60px;
  background-size: cover;
  background-position: center;
}

h1 {
  @apply .text-xl .font-bold .mb-2 .mt-2;
}

.blogpost {
  @apply .flex .flex-col .flex-no-wrap .justify-center .mx-auto .w-4/5;
}