/* This file is for your main application css. */

@tailwind preflight;

@tailwind components;
@tailwind utilities;

.blog-image {
  width: 20%;
  height: 20%;
}

.blogpost {
  @apply .flex .flex-col .flex-no-wrap .justify-center .mx-auto;
}

.justify-evenly {
  justify-content: space-evenly;
}

.primary-link {
  @apply .text-light-colour .no-underline;
}

.primary-link:hover {
  @apply .text-light-accent;
}

.post-title-list {
  @apply .text-center .text-xl .font-semibold text-dark-colour;
}

.post-title-list:hover {
  @apply .underline;
}