@tailwind preflight;

@tailwind components;
@tailwind utilities;

@import ./app.css;

.blogpost {
  @apply .flex .flex-col .flex-no-wrap .justify-center .mx-auto .text-dark-colour;
}

h1 {
  @apply .text-5xl .font-bold .m-4 .leading-tight;
}

h2 {
  @apply .text-2xl .font-bold .mx-6 .mt-5 .mb-2 .leading-tight .self-start;
}

p {
  @apply .text-base .font-normal .mx-6 .my-1 .leading-normal .text-justify .self-start;
  letter-spacing: -.003em;;
}

img {
  @apply .rounded-sm;
  object-position: center center;
  object-fit: cover;
}

a {
  @apply .primary-link .text-dark-accent;
}

a:hover {
  @apply .text-light-accent .underline;
}

blockquote {
  @apply .mx-3 .text-lg .italic;
}

pre {
  @apply .flex .mx-16 .my-2 .self-stretch items-start;
}

strong {
  @apply .font-semibold;
}

.blog-post-image {
  @apply .mt-3 rounded-l;
  width: 75vw;
  height: 30vw;
  max-height: 300px;
  max-width: 1000px;
}