@tailwind preflight;

@tailwind components;
@tailwind utilities;

@import ./app.css;

.blogpost {
  @apply .flex .flex-col .flex-no-wrap .justify-center .mx-auto .text-dark-colour;
}

h1 {
  @apply .text-2xl .font-bold .m-4 .leading-tight;
}

h2 {
  @apply .text-xl .font-medium .mx-4 .my-2 .leading-tight;
}

p {
  @apply .text-base .font-normal .mx-6 .my-2 .leading-normal .text-justify;
}

img {
  @apply image-position rounded-sm;
  object-position: center center;
  object-fit: cover;
}

a {
  @apply .primary-link .text-dark-accent;
}

a:hover {
  @apply .text-light-accent .underline;
}

blockquote {
  @apply .mx-3 .text-lg .italic;
}

pre {
  @apply .flex .mx-16 .my-1 .self-stretch items-start;
}

strong {
  @apply .font-semibold;
}